body {
  text-align: center;
  background-color: #1d3557;
}

button {
  margin-top: 5rem;
  padding: 2rem;
  font-size: 3rem;
  width: 35rem;
}

#counter-div {
  margin-top: 2rem;
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #f1faee;
}

.container {
  padding: 0px;
  height: 100vh;
}