.PartOfSpeech {
    font-size: 20px;
    font-weight: 500;
    background-color: #FCFCFC;
    border-radius: 13.2px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
    margin-bottom: 15px;
    border: 1px solid #E8E8E8;
    margin-right: 20px;
}

.PartOfSpeech .definition {
    font-size: 17px;
    font-weight: normal;
    margin-left: 25px;
    margin-bottom: 10px;
}

