.Phonetics {
    margin-left: 10px;
    font-style: italic;
}

.Phonetics #audioBtn:focus {
    border: none;
}

.Phonetics #audioBtn:hover {
    border: none;
}

.Phonetics #audioBtn:active {
    border: none;
}